.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    width: 900px;
    height: 600px;
    border-radius: 25px;
    padding: 35px;

}

.logo p {
    width: 104px;
    height: 40px;
    font-family: 'Mukta';

    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #1565C0;
}

.sales {
    display: flex;

}

.about {
    width: 300px;
    display: flex;
    justify-content: space-between;

}

.salesmore {
    display: flex;
    gap: 90px;
    align-items: center;
}

.sales p {
    width: 43px;
    height: 33px;

    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #474747;

}

.more {
    display: flex;
    align-items: center;
    width: 45px;
    height: 33px;

    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    color: #474747;
}

.head {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
}

.home {
    width: 150px;
    height: 20px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #474747;

}

.img1 {}

.infor {
    display: flex;
    padding-top: 20px;
    gap: 120px;
}

.img2 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.detail p1 {
    width: 405px;
    height: 84px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #2D2D2D;
}

.detail p2 {
    height: 42px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.detail p3 {

    height: 42px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #1565C0;
}

.detail p8 {
    width: 393px;
    height: 52px;
    font-family: 'Roboto';
    padding-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;

}

.pricenum {
    display: flex;
    background-color: #DFDFDF;
    margin-top: 2px;
    width: 62px;
    height: 60px;
    background: #DFDFDF;
    border-radius: 10px;
    align-items: center;
    padding-left: 15px;
}

.pricenum p4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #29B6F6;

}

.pricenum p5 {
    width: 10px;
    height: 19px;
    font-family: 'Roboto';

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #1565C0;

}

.price {
    display: flex;
    gap: 10px;
}

.price p6 {
    width: 168px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #29B6F6;

}

.price p7 {
    width: 268px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    display: flex;
    align-items: center;
    color: #474747;

}

.btn {
    display: flex;
    width: 169px;
    height: 46px;
    background: #1565C0;
    box-shadow: 0px 4px 4px rgba(21, 101, 192, 0.1);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}